server:
  servlet:
    context-path: /tentative

spring:
  profiles:
#    active: dev
    active: test
#    active: prod
  datasource:
    druid:
      # 初始化大小
      initial-size: 1
      # 最小连接池数量
      min-idle: 1
      # 最大连接池数量
      max-active: 20
      # 获取连接等待超时的时间
      max-wait: 60000
      # 是否缓存preparedStatement
      pool-prepared-statements: false
      # PSCache大小
      max-open-prepared-statements: -1
      # 用来检测连接是否有效的sql
      validation-query: SELECT 'x'
      # 检测连接是否有效的超时时间(秒)
      validation-query-timeout: 60
      # 申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能
      test-on-borrow: false
      # 归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能
      test-on-return: false
      # 申请连接的时候检测建议配置为true，不影响性能，并且保证安全性
      test-while-idle: true
      # 间隔多久才进行一次检测
      time-between-eviction-runs-millis: 60000
      # 一个连接在池中最小生存的时间
      min-evictable-idle-time-millis: 300000
      # 一个连接在池中最大生存的时间
      max-evictable-idle-time-millis: 3000000
      filters: stat,wall,slf4j
  servlet:
    multipart:
      max-file-size: 10MB
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: true

# Mybatis
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.tentative.core.entity.*
mapper:
  mappers: com.tentative.core.dao.BaseMapper
  not-empty: false
  identity: MYSQL

# PageHelper
pagehelper:
  helper-dialect: mysql
  reasonable: true

# 自定义属性
customized:
  # redis keys
  redis-key:
    # 用户令牌
    user-token:
      active: "Tentative:UserToken:Active:"
      inactive: "Tentative:UserToken:Inactive:"
    # 验证码
    captcha:
      mobile:
        common: "Tentative:Captcha:Mobile:Common:"